.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

.question-sentence {
    color: gray;
    font-style: italic;
}

table {
    margin-left:auto;
    margin-right:auto;
}

th, td {
    border-bottom:1px solid black;
}

.answer_column {
    text-align: center;
}

h2 {
    margin-left:auto;
    margin-right:auto;
    text-align:center; 
    border-bottom: 1px solid black;
    width: 85%;
}