<html ng-app="quizgen" data-ng-app data-ng-csp>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css" \>
</head>
<body ng-controller="QuizController">
    <script src="js/angular.min.js"></script>
    <script src="js/quizgen.js"></script>
    <div>
      <p>Your quiz:</p>
      <div ng-repeat="question in results.questions">
        <p> {{ question.question }} <button type="button" class="question-button" ng-click="row.selected =! row.selected">{{!row.selected ? 'Show sentence' : 'Hide sentence'}}</button></p>
        <div ng-class="{'question-sentence visible':row.selected, 'question-sentence hidden':!row.selected}"> {{ question.sentence }} </div>
      </div>
    </div>
</body>
</html>
