<html ng-app="quizgen" data-ng-app data-ng-csp>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css" \>
</head>
<body ng-controller="QuizController">
    <script src="js/angular.min.js"></script>
    <script src="js/quizgen.js"></script>
    <div>
      <h2 style="text-align:center; border-bottom: 1px solid black;">Your quiz:</h2>
      <h1 style="text-align:center">{{ loading }}</h1>
      <table style="width:85%">
        <tr ng-repeat="question in results.questions">
          <td style="width:80%">
            <p> {{ question.question }} </p>
            <div ng-class="{'question-sentence visible':row.selected, 'question-sentence hidden':!row.selected}"> {{ question.sentence }} </div>
          </td>
          <td style="width:20%" class="answer_column">
            <button type="button" class="question-button" ng-click="row.selected =! row.selected">{{!row.selected ? 'Show sentence' : 'Hide sentence'}}</button>
          </td>
        </tr>
      </table>
    </div>
</body>
</html>
